body{
    background-color: gray;
    color: green;
    font-family: "Arial";
}

body h3 {
    color: black;
    background-color: white;
}

<<<<<<< HEAD
.hg{
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
=======
.cabecera{
    color: black;
    border: 2px solid red;
    background-color: orange;
>>>>>>> cabecera
}