body{
    background-color: orange;
    color: blue;
    font-family: "Arial";
}

body h3 {
    color: black;
    background-color: red;
}

.cabecera{
    color: black;
    border: 2px solid red;
    font-style: normal;
    background-color: white;
}

