body{
    background-color: blue;
    color: green;
    font-family: "Arial";
}

body h3 {
    color: black;
    background-color: white;
}

.cabecera{
    color: black;
    border: 2px solid red;
    background-color: orange;
}